<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3306/sem_3_sql
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            61208619
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!--        Hibernate будет прописывать SQL-команды в консоли-->
        <property name="show_sql">
            true
        </property>

        <!--        NONE (default), CREATE, CREATE-DROP, UPDATE, VALIDATE-->
        <property name="hibernate.mysql.auto">
            create
        </property>


        <!-- List of XML mapping files -->
        <mapping class = "HomeWork.Group"/>
        <mapping class = "HomeWork.Student"/>
    </session-factory>
</hibernate-configuration>